.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(240, 93%, 5%);
    margin-top: -40px;
}

.benefitLight .container{
    background-color: white;
}

.benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.cont{
    width: 250px;
}

.cont h4{
    text-align: center;
    font-size: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.benefitLight .cont h4, .benefitLight .cont p{
    color: black;
}

.benefitLight .cont img{
    border: 2px solid hsl(184, 86%, 40%);
}

.benefitLight .why h2{
    color: hsl(184, 60%, 50%);
}

.cont p{
    text-align: center;
    font-size: 12px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image img{
    width: 220px;
    display: block;
    margin: 0 auto;
    margin-bottom: -10px;
    border: 1px solid white;
}

.why h2{
    margin-bottom: 50px;
    color: white;
}

.fstImage{
    height: 110px;
}

@media(max-width: 760px){
    .benefits{
        display: flex;
        flex-direction: column;
    }
}