header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    
    background-color: hsl(222, 94%, 12%);
    margin: 0 200px;
    border-radius: 20px;
    height: 35px;
}

.M{
    border-radius: 50%;
    color: black;
    background-color: white;
    padding: 2px 5px;
    margin-right: 3px;
    font-size: 13px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 50px;
    z-index: 999;
}

.link{
    padding: 0 10px;
    color: black;
    font-size: 13px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    margin: 0 4px;
}


.links{
    display: flex;
    align-items: center;
}

.link:active{
    text-decoration: 1px underline white;
    background-color: hsl(222, 73%, 26%);
}



.mode p{
    font-size: 12px;
}

.mode{
    display: flex;
    align-items: center;
    margin: auto 0;
    margin-left: 25px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    margin-right: 25px;
}

.logo p{
    font-size: 12px;
}

header{
    color: white;
}

@media(max: 760px){
    header{
        display: none;
    }
}