.LSQ{
    margin-top: -50px;
    margin-bottom: -20px;
    background-color: hsl(240, 93%, 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxLSQ{
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 100px 20px;
}

.boxLSQ button{
    padding: 10px 150px;
    border: 1px solid hsl(0, 0%, 70%);
    background-color: cornflowerblue;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.boxLSQ button{
    padding: 10px 150px;
}

.boxLSQ button:hover{
    background-color: hsl(0, 0%, 90%);
    border-color: cornflowerblue;
    color: cornflowerblue;
    transition: ease-in-out, 0.5s;
    transition: ease-out, 0.5s;
}

.boxLSQ h1{
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-size: 1.4rem;
}

.paperLSQ .generateLSQ{
    background-color: white;
    border-color: cornflowerblue;
    color: black;
    padding: 10px 192px;
}

.paperLSQ .generateLSQ:hover{
    background-color: hsl(222, 74%, 15%);
    color: white;
    border: 1px solid hsl(0, 0%, 70%);
}

@media(max-width: 760px){
.paperLSQ .generateLSQ{
    padding: 8px 122px;
    }.boxLSQ button{
    padding: 8px 80px;
    }.boxLSQ h1{
    font-size: 28px;
}
}

@media(max-width: 395px){
.paperLSQ .generateLSQ{
    padding: 8px 92px;
    }.boxLSQ button{
    padding: 8px 50px;
    }.boxLSQ h1{
        font-size: 25px;
    }
}