.contForm{
    margin-top: -60px;
    margin-bottom: -20px;
    background-color: hsl(240, 93%, 5%);
}

.form p{
    color: black;
}

.formR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addReview{
    background-color: hsl(240, 93%, 15%);
    margin: 0 400px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px hsl(0, 0%, 10%);
}

.formR input, textarea{
    width: 500px;
    border-radius: 20px;
}

textarea::placeholder{
    color: hsl(0, 0%, 20%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}

textarea{
    height: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
}

.set1{
    margin-left: 40px;
}

.contForm h1, .contForm p{
    color: black;
}

.contComment{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 50px;
    align-self: center;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contInner{
    width: 300px;
    border: 1px solid hsl(0, 0%, 30%);
    box-shadow: 3px 3px 3px hsl(0, 0%, 15%);
    border-radius: 15px;
    padding: 20px;
    background-color: hsl(240, 93%, 8%);
    position: relative;
    height: 190px;
}

.schoolName p, .schoolName h3, .comment p{
    color: hsl(0, 0%, 66%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.comment p{
    margin-top: -10px;
}

.comment{
    border-bottom: 1px solid rgb(87, 85, 85);
}

.stars{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.star{
    color: hsl(60, 100%, 45%);
}

.schoolInfo{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

.schoolIcon{
    font-size: 25px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 70%);
    padding: 4px;
    margin-right: 4px;
}

.schoolName{
    position: relative;
    top: -12px;
    margin-left: 5px;
    margin-bottom: -15px;
}

.formR input{
    text-align: left;
    padding-left: 8px;
}

.schoolName h3{
    font-weight: 450;
}

.schoolName p{
    font-size: 10.5px;
}

.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.review h1{
    color: white;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review button{
    background-color: hsl(240, 93%, 5%);
    width: 400px;
    height: 40px;
    color: white;
    text-decoration: underline;
    outline: none;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}

.formR p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
    margin-bottom: 3px;
    text-align: start;
    padding-left: 25px;
}

.formR input{
    border-radius: 5px;
}

.formR input::placeholder{
    text-align: start;
    font-size: 11.5px;
}

.up{
    display: flex;
    flex-direction: column;
}

.up2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.closeBtn{
    font-size: 18px;
    cursor: pointer;
}

.up2 button{
    margin-right: 50px;
    height: 20px;
    width: 28px;
    background-color: hsl(240, 93%, 15%);
    border: none;
    color: white;
    
}


.up h2{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.revSubmit{
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px 50px;
    color: white;
    border-radius: 20px;
    background-color: hsl(200, 80%, 40%);
    border: none;
}

.revSubmit{
    cursor: pointer;
    transform: scale(1.1);
}

.field1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.field1 input{
    width: 220px;
    height: 35px;
    border-radius: 25px;
    padding-left: 10px;
    margin-top: 5px;
}

.field2{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
}

.field2 input{
    width: 220px;
    padding-left: 10px;
    height: 35px;
    margin-top: 5px;
    border-radius: 25px;
}

.set1 label, .set label{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-left: 5px;
}


@media(max-width: 800px){
    .addReview{
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media(max-width: 1500px){
    .addReview{
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }.up .IoClose{
        position: relative;
        right: -20px;
    }.up p{
        position: relative;
        left: -20px;
    }
}

@media(max-width: 600px){
    .addReview{
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }.up p{
        position: relative;
        left: -20px;
    }.formR input, textarea{
        width: 450px;
        background-color: hsl(200, 80%, 70%);
    }.field1{
        display: flex;
        flex-direction: column;
    }.field2{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }.field1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        gap: 10px;
    }.field2{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }label{
        display: none;
    }
}

@media(max-width: 500px){
    .addReview{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 auto;
    }.formR input, textarea{
        width: 230px;
        background-color: hsl(200, 80%, 70%);
    }.textarea::placeholder{
        color: black;
    }.up p{
        position: relative;
        left: -20px;
    }.up .IoClose{
        position: relative;
        right: -20px;
    }.field1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        gap: 10px;
    }.field2{
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }label{
        display: none;
    }.field1 input, .field2 input{
        width: 230px;
        align-items: center;
    }.in2{
        position: relative;
        left: 20px;
    }.in3{
        position: relative;
        right: 20px;
    }
}

