.correct{
    background-color: #31da66;
}

.incorrect{
    background-color: #e93939;
}

.inQuiz{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px 250px;
}

.inQuiz .answerBtn{
    display: block;
    padding: 10px 50px;
    margin: 5px 50px;
}

.nxtQ{
    display: block;
    padding: 10px 50px;
    margin: 15px auto;
}

.quiz img{
    width: 200px;
    display: block;
    margin: 0 auto;
}

.quiz{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.quiz p, h3, h2{
    color: black;
}

.quiz h3{
    margin: 20px 0;
}


@media(max-width: 760px){
    .inQuiz .answerBtn{
        display: block;
        padding: 3px 50px;
        margin: 5px 40px;
        font-size: 13px;
    }.quiz h3{
        margin: 20px 20px;
    }.explanation{
        margin: 5px 40px;
    }.inQuiz{
        margin: 20px;
    }.nxtQ{
        display: block;
        padding: 3px 50px;
        margin: 5px auto;
        font-size: 13px;
    }
}
